<script src="../js/sidebar.js"></script>

<nav class="sidebar">
    <div class="menu">
        <a onclick="toSummary(), getHighlight()" class="menu-btns" id="summary" href="../html/summary.html?">
            <img src="../img/summary-icon.png" alt="summary-icon">
            <span>Summary</span>
        </a>
        <a onclick="toBoard()" class="menu-btns" id="board" href="../html/board.html?">
            <img src="../img/board-icon.png" alt="board-icon">
            <span>Board</span>
        </a>
        <a onclick="toAddTask()" class="menu-btns" id="task" href="../html/add_task.html">
            <img src="../img/add-task-icon.png" alt="add-task-icon">
            <span>Add Task</span>
        </a>
        <a onclick="toContacts()" class="menu-btns" id="contacts" href="../html/contacts.html">
            <img src="../img/contacts-icon.png" alt="contacts-icon">
            <span>Contacts</span>
        </a>
    </div>
    <div class="menu legal-actions">
        <a onclick="toLegalNotice()" name="legal-notice" class="menu-btns" id="legal-notice" href="../html/legal_notice.html">
            <img id="legal-notice-icon" src="../img/legal-notice-icon.png" alt="legal-notice-icon">
            <span>Legal notice</span>
        </a>
    </div>
</nav>