body {
  overflow: hidden;
}

.add-contact-modal {
  overflow-y: scroll;
}

.add-contact-modal::-webkit-scrollbar {
  display: none;
}

.edit-contact-modal {
  overflow-y: scroll;
}

.edit-contact-modal::-webkit-scrollbar {
  display: none;
}

.span-display-none {
  display: none;
}

.edit-contact-responsive {
  display: none;
}

.container-fluid {
  padding: 0px !important;
  height: 100vh !important;
  overflow: hidden;
}

.contacts-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  /* min-height: calc(100vh - 100px); */
}

.contact-list {
  z-index: 3;
  min-width: 430px;
  /* min-height: calc(100vh - 100px); wenn es noch keine Kontakte gibt, müsste die Höhe auf min-height gesetzt werden. Aber dann haben wir am Ende ganz rechts einen Skrollbalken */
  height: 100%;
  box-shadow: 1px 0px 2px 2px rgb(0 0 0 / 16%);
  color: rgb(0, 0, 0);
  height: calc(100vh - 100px);
  padding: 10px;
  overflow-y: auto;
}

.word-break {
  word-break: break-word;
}

.contact-registery {
  border-bottom: 1px solid #d1d1d1;
  font-weight: 400;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 25px;
}

.contact-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.contact-box:hover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: #4589ff;
  border-radius: 10px;
  box-shadow: rgb(170, 170, 170) 2px 2px 3px 1px;
  color: white;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-button {
  border-style: solid;
  height: 12px;
  width: 12px;
}

/* Up */
::-webkit-scrollbar-button:vertical:decrement {
  border-width: 0px 7px 9px 7px;
  border-color: transparent transparent #a8a8a8 transparent;
}

/* ::-webkit-scrollbar-button:vertical:decrement:hover
{
  border-color: transparent transparent #A8A8A8 transparent;
} */
/* Down */
::-webkit-scrollbar-button:vertical:increment {
  border-width: 9px 7px 0 7px;
  border-color: #a8a8a8 transparent transparent transparent;
}

/* ::-webkit-scrollbar-button:vertical:increment:hover
{
  border-color: #A8A8A8 transparent transparent transparent;
} */
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 1px 0px 3px #a8a8a8;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  /* border-radius: 10px; */
  border: 6px solid #a8a8a8;
  border-radius: 12px 12px 12px 12px;
  margin: 10px auto;
}

.close-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  columns: 3;
}

.close-icon {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 99;
}

.close-icon:hover {
  cursor: pointer;
  filter: invert(100%);
}

.letters {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0px;
  margin-right: 10px;
  min-width: 42px;
  min-height: 42px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  background-color: #4589ff;
  object-fit: cover;
}

.letters-large {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0px;
  margin-right: 10px;
  min-width: 90px;
  min-height: 90px;
  /* max-width: 90px;
  max-height: 90px; */
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
  border-radius: 100%;
  background-color: #4589ff;
  font-size: 38px;
  object-fit: cover;
}

.info-text {
  color: white;
  font-size: 1.5rem;
}

.info-text-alert {
  color: rgb(255, 251, 0);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

/* ////////////// CONTACT DETAILS START ///////////////////*/

.contact-detail {
  margin: 50px;
  max-inline-size: 100%;
  max-height: calc(100vh - 100px);
  width: 100%;
  height: 100%;
  transform: translateX(100vw);
  transition: all 225ms ease-in-out;
  z-index: 7;
}

.contact-detail-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-detail-header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-detail-header {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.add-task-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #005dff;
  margin-top: 13px;
  cursor: pointer;
  padding-inline: 5px;
}

.add-task-link:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.add-task-link img {
  height: 18px;
  width: 18px;
}

.contact-name {
  font-size: 46px;
  font-weight: 600;
  line-height: 120%;
}

.contact-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
}

.contact-information {
  font-size: 24px;
  font-weight: 700;
}

.contact-body-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.edit-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #005dff;
  cursor: pointer;
  padding-inline: 5px;
}

.edit-contact:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
}

.edit-contact img {
  height: 24px;
}

.contact-detail-bold {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
}

.contact-detail-medium {
  color: #4589ff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  max-width: min-content;
}

/* ////////////// CONTACT DETAILS END ///////////////////*/

/* ////////////// EDIT CONTACT DETAILS START ///////////////////*/
.edit-contact-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

/* ////////////// EDIT CONTACT DETAILS END ///////////////////*/

.overlay {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  z-index: 11;
  left: 0px;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
}

.add-contact-modal {
  z-index: 5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: white;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 0px 30px 30px 30px;
  height: 100vh;
  width: 552px;
  left: 0px;
  transform: translateX(-580px);
  transition: all 225ms ease-in-out;
}

.edit-contact-modal {
  z-index: 5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: white;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 0px 30px 30px 30px;
  height: 100vh;
  width: 552px;
  left: 0px;
  transform: translateX(-580px);
  transition: all 225ms ease-in-out;
}

.slide-in {
  transition: transform 500ms ease-in-out;
  transform: translateX(0px);
}

.slide-out {
  transition: transform 500ms ease-in-out;
  transform: translateX(100vw);
}

.contact-detail-mobile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.contact-detail-mobile:hover {
  filter: invert(60%);
  cursor: pointer;
}

.add-contact-button {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  position: fixed;
  width: 220px;
  height: 53px;
  right: 40px;
  bottom: 100px;
  background-color: #4589ff;
  border: 1px solid #4589ff;
  border-radius: 10px;
  font-size: 23px;
  color: white;
  transition: all 225ms ease-in-out;
}

.add-contact-button:hover {
  box-shadow: rgb(170, 170, 170) 2px 2px 3px 1px;
}

.delete-contact-button {
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  position: fixed;
  width: 220px;
  height: 53px;
  right: 40px;
  bottom: 35px;
  background-color: #d1d1d1;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.delete-contact-button img {
  height: 20px;
}

.delete-contact-button-alert {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  /* gap: 10px; */
  position: fixed;
  width: 220px;
  height: 80px;
  right: 40px;
  bottom: 10px;
  background-color: #fb0000;
  border: 1px solid #fb0000;
  border-radius: 10px;
  font-size: 14px;
  color: white;
}

.delete-contact-button-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  gap: 30px;
}

.delete-contact-button-bottom a:hover {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.create-contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  position: absolute;
  width: 240px;
  height: 53px;
  right: 40px;
  bottom: 50px;
  background-color: #4589ff;
  border: 1px solid #4589ff;
  border-radius: 10px;
  font-size: 23px;
  color: white;
  transition: all 225ms ease-in-out;
}

.edit-contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  width: 140px;
  height: 53px;
  right: 40px;
  bottom: 50px;
  background-color: #4589ff;
  border: 1px solid #4589ff;
  border-radius: 10px;
  font-size: 23px;
  color: white;
  transition: all 225ms ease-in-out;
}

.create-contact-button:hover {
  box-shadow: rgb(170, 170, 170) 2px 2px 3px 1px;
}

.add-contact-button img {
  width: 33px;
  padding-left: 5px;
}

.contact-dialog-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 91px 46px;
  gap: 12px;
  width: 100%;
  height: 35%;
  background-color: #4589ff;
  border-radius: 0px 30px 0 0;
  top: 0px;
}

.contact-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: white;
}

.add-contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.contact-dialog-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 580px;
  padding-top: 50px;
}

.add-contact-input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 420px;
  margin: auto;
  border-bottom: 1px solid #d1d1d1;
}

.add-contact-input-field img {
  margin-inline-start: 10px;
  width: 20px;
}

.user-avatar {
  font-weight: 400;
  font-size: 38px;
  background-color: #d1d1d1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

input {
  color: black;
}

.contacts_input {
  display: flex;
  flex-grow: 1;
  height: 30px;
  padding-inline: 10px;
  width: max-content;
  border: none;
  color: #e8e8e8;
  outline-color: #e8e8e8;
}

.contact-form-control {
  font-size: 1.2rem !important;
  border: none !important;
  max-width: 85% !important;
}

.contact-form-control::placeholder {
  opacity: 0.4 !important;
}

.form-control {
  font-size: 1.2rem !important;
  border: none !important;
  max-width: 85% !important;
}

input[type="text"],
[type="email"],
[type="number"] {
  color: black;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

.form {
  padding-top: 5%;
}

input:focus {
  background-color: lightblue;
}

/* STYLING ALL FORM FIELDS */
/* https://www.w3schools.com/css/css_form.asp*/

/* contacts */

/*/ X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/*/ Small devices (landscape phones, 576px and up) */
@media (max-width: 1200px) {
  .contact-list {
    min-width: 300px;
  }

  .letters {
    margin-right: unset;
  }
}

@media (max-width: 1130px) {
  .join-logo-contacts {
    display: none !important;
  }

  .add-contact-modal,
  .edit-contact-modal {
    width: 552px !important;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

/*/ Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .add-contact-modal,
  .edit-contact-modal {
    width: 100vw !important;
  }

  .add-contact-input-field {
    width: 327px;
  }

  .contact-name {
    font-size: 33px;
  }

  .letters-large {
    min-width: 80px;
    min-height: 80px;
    font-size: 27px;
  }

  .contact-information {
    font-size: 19px;
  }

  .add-task-link,
  .contact-detail-medium,
  .contact-detail-bold {
    font-size: 16px;
  }

  .sidebar {
    z-index: 11 !important;
  }

  .span-display-none {
    display: block;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    color: #4589ff;
    margin-bottom: 125px;
  }

  header {
    z-index: 11;
  }

  /* .add-contact-modal,
  .edit-contact-modal {
    border-radius: 0;
  } */

  .create-contact-button {
    position: unset;
  }

  .create-btn-flexdiv {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  /* .contact-dialog-top img {
    display: none;
  } */

  .form {
    margin-top: 5%;
  }

  .main {
    /* position: relative; */
    margin: 0px;
    /* position: relative; */
    /* top: 125px; */
    /* height: unset; */
    /* height: 100%; */
  }

  .contact-list {
    box-shadow: none;
  }

  .contacts-container {
    position: relative;
    top: 40px;
    /* bottom: 120px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
  }

  .contact-list {
    position: relative;
    /* bottom: px; */
    width: 100%;
    /* height: 100%; */
    /* height: calc(100vh); */
    /* padding: 10px; */
    overflow-y: scroll;
    height: calc(100vh - 260px);
  }

  .contact-detail {
    top: 99.99px;
    z-index: 10;
    background: white;
    background-color: white;
    position: fixed;
    margin: 0px;
    padding: 49px 25px;
    max-height: calc(100vh - 100px);
  }

  .edit-contact {
    display: none;
  }

  .edit-contact-responsive {
    display: block;
    right: 40px;
    bottom: 114px;
    position: absolute;
    cursor: pointer;
  }

  .contact-detail-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 16px;
    height: 15.56px;
    position: fixed;
    right: 34px;
    top: 160.22px;
  }

  .add-contact-button {
    bottom: unset;
    top: 110px;
    left: 20px;
    right: unset;
  }

  .delete-contact-button {
    bottom: unset;
    top: 110px;
  }

  .delete-contact-button-alert {
    flex-direction: row;
    padding: 12px 10px;
    position: fixed;
    width: 240px;
    height: 53px;
    right: 40px;
    bottom: unset;
    top: 110px;
  }

  .delete-contact-button-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    gap: 15px;
  }

  /* Sidebar & Header */
  .sidebar {
    height: auto;
    width: 100%;
    top: unset;
    bottom: 0px;
    padding: unset;
    background-color: white;
    z-index: 10;
  }

  #legal-notice {
    display: none;
  }

  .legalHelp {
    display: unset;
  }

  .header-right-content span,
  .help-icon {
    display: none;
  }

  .logOut__btn--container {
    height: 137px;
    justify-content: space-evenly;
  }

  .logOut__btn--container button {
    width: min-content;
    white-space: nowrap;
    height: unset;
  }

  .menu {
    flex-direction: row;
    gap: unset;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    min-width: 50px;
    padding-block: 12px;
    padding-inline: 8px;
  }

  .main {
    width: 100%;
    margin-left: 0px;
  }
}

/*/ Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .contact-title {
    font-size: 34px;
  }

  .info-text {
    font-size: 20px;
  }

  .contact-list {
    min-width: unset;
    /* width: 97%; */
  }

  #edit-contact-modal > div.contact-dialog-top > img:nth-child(2) {
    display: none;
  }

  .contact-dialog-top {
    min-height: 150px;
    padding: unset;
    height: 180px;
    border-radius: 30px 30px 0 0 !important;
  }

  .contact-dialog-bottom {
    padding-top: 180px;
    /* height: 761px; */
    position: relative;
    top: -150px;
  }

  #add-contact-modal::placeholder {
    font-size: 1rem;
  }

  .add-contact-modal,
  .edit-contact-modal {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  /* .delete-contact-button-bottom a:hover {
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
  } */

  /* 
  .contact-registery {
    border-bottom: 1px solid #d1d1d1;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 25px;
  }
  
  .contact-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  .letters {
    margin-right: 2px;
    min-width: 42px;
    min-height: 42px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    background-color: #4589ff;
    object-fit: cover;
  }
  
  .letters-large {
    
    margin-right: 5px;
    min-width: 90px;
    min-height: 90px;
    border: 3px solid #ffffff;
    border-radius: 100%;
    background-color: #4589ff;
    font-size: 38px;
    object-fit: cover;
  } */
}

@media (max-width: 576px) {
  #delete-contact-button {
    display: none;
  }

  .add-contact-modal,
  .edit-contact-modal {
    text-align: center;
  }

  .add-contact-button {
    padding: 18px 10px;
    gap: 10px;
    width: 176px;
    height: 53px;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    left: unset;
    right: 10px;
  }
}

@media (max-width: 375px) {
  .contact-name {
    font-size: 24px;
  }

  .letters-large {
    min-width: 60px;
    min-height: 60px;
    font-size: 24px;
  }

  .contact-information {
    font-size: 19px;
  }

  .contact-detail-mobile {
    top: 12px;
  }

  .span-display-none {
    display: none;
  }
}
