html,
body {
  width: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-style: normal;
  color: #4589ff;
  font-weight: 700 !important;
  font-size: 64px;
}

.d-none {
  display: none;
}

.d-none-not-important {
  display: none;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  margin-right: 15px;
}

.gap-summary {
  gap: 35px !important;
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #4589ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px;
  gap: 34px;
  z-index: 4;
  color: white;
}

.header-content {
  text-align: center;
}

.header-right-content img {
  cursor: pointer;
}

.join-logo img {
  height: 58px;
  object-fit: cover;
  cursor: pointer;
}

.header-right-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.help-icon {
  width: 31px;
  height: 31px;
}

.acc-icon {
  width: 49px;
  height: 49px;
}

.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 1rem;
}

.container-fluid {
  padding: 0px !important;
  height: 100vh !important;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100vh;
  height: calc(100vh - 100px);
  width: 232px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  padding: 66px 20px;
}

.sidebar a {
  border: 1px solid hsl(218, 25%, 100%);
  background-color: unset;
}

.sidebar a:hover {
  border: 1px solid #42526e;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.sidebar a:visited {
  color: #42526e;
}

.sidebar__highlight {
  background-color: #D2E3FF !important;
}

.legal__highlight {
  background-color: #005dff !important;
  color: white !important;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.menu-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 30px;
  border-radius: 8px;
  gap: 20px;
  text-decoration: none;
  color: #42526e;
}

.menu-btns img {
  height: 22px;
}


#legal-notice {
  color: #42526e;
}


/* MAIN ///////////////////////////////////////////// */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 232px;
  margin-top: 100px;
  height: 100%;
  width: calc(100% - 232px);
}

.logIn__wrapper--holder {
  min-height: inherit;
  width: inherit;
}

.font-medium {
  font-weight: 700;
  font-size: 33px;
  /* line-height: 120%; */
}

.font-light {
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 120%; */
}

.copy-white {
  color: #ffffff;
  text-align: center;
}

.copy-black {
  color: #000000;
  text-align: center;
}

.copy-blue {
  color: #4589ff;
  text-align: center;
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline: 5px;
  white-space: break-spaces;
}

.bottom-box {
  display: flex;
  text-align: center;
}

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-line {
  display: flex;
  width: 3px;
  height: 70%;
  background-color: #ffffff;
  /* transition: all 225ms ease-in-out; */
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.alert-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 190px;
  flex-grow: 1;
  min-width: 600px;
  max-width: 640px;
  background: #4589ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 48px;
}

.alert-card img {
  border: white solid 2px;
  border-radius: 100%;
  width: 76px;
  height: 76px;
}

.alert-card:hover {
  background-color: #ffffff;
  border-top-left-radius: 0;
  transform: scale(1.02);
  color: #4589ff;
  transition: all 225ms ease-in-out;
}

.alert-card:hover .copy-white,
.alert-card:hover .font-medium,
.alert-card:hover .font-light {
  color: #4589ff;
  transition: all 225ms ease-in-out;
}

.alert-card:hover .vertical-line {
  background-color: #4589ff;
}

.alert-card-paleblue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  min-width: 190px;
  background: #d2e3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 48px;
}

.alert-card-paleblue img {
  border: white solid 2px;
  border-radius: 100%;
  width: 76px;
  height: 76px;
}

.alert-card-paleblue:hover {
  background-color: #4589ff !important;
  border-top-left-radius: 0;
  transform: scale(1.02);
  color: #ffffff;
  transition: all 225ms ease-in-out;
}

.alert-card-paleblue:hover .copy-black,
.alert-card-paleblue:hover .font-light {
  color: #ffffff;
  transition: all 225ms ease-in-out;
}

.to-do-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  min-width: 190px;
  background: #feffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  font-weight: 700;
  font-size: 48px;
  cursor: pointer;
}

.to-do-card:hover {
  background-color: #4589ff !important;
  border-top-left-radius: 0;
  transform: scale(1.02);
  color: #ffffff;
  transition: all 225ms ease-in-out;
}

.to-do-card:hover .copy-black,
.to-do-card:hover .font-light {
  color: #ffffff;
  transition: all 225ms ease-in-out;
}

.to-do-card img {
  border: white solid 2px;
  border-radius: 100%;
  width: 76px;
  height: 76px;
}